  <div class="card h-100">
    <img [src]="product.img" class="card-img-top p-2" [alt]="product.description">
    <div class="card-body">
        <h4 class="text-center">{{product.name}}</h4>
        <p class="card-text">{{product.description}}</p>
    </div>
    <div class= "card-footer">
      <p class="card-text text-center">{{product.price | number:'1.2-2':'es'}} €<span
        class="text-danger"> ({{product.discount}}%)</span></p>
      <p class="text-center"><small class="text-muted">{{product.color? 'más colores' : '&nbsp;&nbsp;'}}</small></p>
      <p class="d-flex justify-content-center align-items-stretch">
        <a href="#" class="btn btn-primary">Añadir</a>
      </p>
    </div>
  </div>
