<div class="container-fluid">
  <!-- Filtering -->
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-2 mb-4 d-flex justify-content-center">
      <form class="form-inline">
        <label class="sr-only" for="buscador">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="buscador" #buscar placeholder="Buscar"
          (input)="searchProductos(buscar.value, $event)">
      </form>
    </div>
    <div class="col-4 mt-2 mb-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary ml-2 mb-2">
          <mat-icon svgIcon="thumbs-up"></mat-icon>
        </button>
        <button type="button" class="btn btn-primary ml-2 mb-2">-</button>
    </div>
  </div>
</div>

  <!-- Products Grid -->
  <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
    <div class="col mb-4" *ngFor="let producto of productsList$ | async">
      <app-card [product]="producto"></app-card>
    </div>
  </div>
